body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#main {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    text-decoration: none;
    color: #0073e6;
}

form {
    margin-top: 20px;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect for input fields */
input[type="text"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    background-color: rgb(230, 189, 165);
    border-color: rgb(208, 133, 79);
}

/* Required fields styling */
input:required {
    border-color: #FF0000; /* Red border for required fields */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}
